footer {
  position: relative;
  min-height: 80px;
  border-top: 5px solid $secondary-color;
  font-size: 12px;
  font-family: $font-light;
  line-height: 100%;
  padding: 25px 0;
  background-color: #fff;
  @include breakpoint(medium) {
    padding: 10px 0;
  }
  p {
    text-align: right;
    font-size: 9px;
    @include breakpoint(medium) {
      text-align: center;
      margin-bottom: 0;
    }
  }
  li {
    display: inline-block;
  }
  a:hover {
    color: #666;
  }
}

.logo-wrap {
  text-align: left;
  @include breakpoint(medium) {
    text-align: center;
    margin: 10px 0;
  }
}

.asurion {
  font-size: 28px;
  color: #999;
}

.icon-wrap {
  @include breakpoint(medium) {
    text-align: center;
  }
}

.footer-terms {
	margin-top: 10px;
  float: left;
  @extend %pull-right;
  @extend %text-center;
  li {
    @extend %inline-block;
  } 
  @include breakpoint(medium) {
    margin: 12px auto;
    padding: 0;
    text-align: center;
    float: none;
  } 
  @include breakpoint(small) {
    margin: 20px auto;
    width: 100%;
  }
}

.social-icons {
  text-align: right;
  margin: 0;
  li {
    margin-left: 4px;
    &:before {
      content: none;
    }
  }
  @include breakpoint(medium) {
    text-align: center;
    margin: 10px 0;
  }
}

.footer-nav {
  font-size: 12px;
  margin: 0;
  li {
    &:before {
      float: none;
      content: '\2022';
      padding: 0 10px 0 6px;
      font-size: 10px;
      color: $secondary-color;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        padding-right: 0;
        content: '';  
      }
    }
  }
  a {
    color: #666;
  }
}
