{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" %}
    <main>
        {% include partial ? "twig/_featured-hero-main-right.html" : "_featured-hero-main-right.html" with { 'msg': scripts.app.heading, 'bg':scripts.app.bg, 'sub':scripts.app.subtext, 'protection_heading':scripts.app.protection_heading } %}
        <div class="container-padded">

            {% include "_content-right-app.html" %}
            {% include "_steps.html" %}

        </div>
    </main>
    {% include "_footer.html" %}
{% endblock %}
