{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" with { 'bg_color': scripts.claims.bg_color } %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.claims.heading, 'bg': scripts.claims.bg, 'sub': scripts.claims.subtext, 'bg_color': scripts.claims.bg_color } %}
        <div class="container-padded container-flush-bottom">
            {% include "_content.html" with { 'content_heading': scripts.claims.content_heading, 'content': scripts.claims.content, 'heading_alignment': scripts.claims.heading_alignment } %}

            {% include "_buttons-claims.html" with { 'button_text_primary': scripts.claims.button_text_primary, 'button_text_1': scripts.claims.button_text_1, 'button_text_2': scripts.claims.button_text_2, 'button_text_3': scripts.claims.button_text_3 } %}

            {% include "_columns-2.html" %}
            {% include "_deductible-lookup.html" %}
            {% include "_shipping-schedule.html" %}
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
