{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.contact.heading, 'bg':scripts.contact.bg, 'sub':scripts.contact.subtext, "text_flip": scripts.enroll.text_flip, "mobile_scale": scripts.contact.mobile_scale } %}
        <div class="container-padded">
          {% include "_content.html" with { 'content_heading': scripts.contact.content_heading, 'content': scripts.contact.content, 'classes': scripts.contact.classes } %}
          {% include "_buttons-2.html" with { 'button_text': scripts.contact.button_1, 'button_text_1': scripts.contact.button_1_secondary } %}
          {% include "_buttons-1.html" with { 'button_text': scripts.contact.button_1, 'button_headline': scripts.contact.button_headline } %}
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
