{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.support.heading, 'bg':scripts.support.bg, 'sub':scripts.support.subtext, 'secondary_sub':scripts.support.secondary_subhead, 'heading_alignment':scripts.support.heading_alignment, "mobile_scale": scripts.support.mobile_scale } %}
        <div class="container-padded">
          {% include "_content.html" with { 'content_heading': scripts.support.content_heading, 'content': scripts.support.content } %}
            <div class="container-fluid">
                <div class="phone2 animated fadeIn"></div>
                <img class="hand animated fadeIn" src="/images/hand.png" />
            </div>
            <div class="push-above support">
                {% include "_content-right.html" %}
            </div>
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
