{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" with { 'bg_color': scripts.enroll.bg_color } %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.enroll.heading, 'bg':scripts.enroll.bg, 'sub':scripts.enroll.subtext, 'bg_color': scripts.enroll.bg_color, "text_flip": scripts.enroll.text_flip } %}
        <div class="container-padded">
            {% include "_content.html" with { 'content_heading': scripts.enroll.content_heading, 'content': scripts.enroll.content, 'heading_alignment': scripts.enroll.heading_alignment } %}
            {% include "_buttons-1.html" with { 'button_text': scripts.enroll.button_1 } %}
            {% include "_compare-table.html" %}
            {% include "_buttons-1.html" with { 'button_headline': scripts.enroll.main_button_headline, 'button_text': scripts.enroll.button_1 } %}
            {% include "_buttons-1-secondary.html" with { 'button_text': scripts.enroll.button_2, 'button_headline': scripts.enroll.button_headline, 'classes': scripts.enroll.classes } %}
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
