{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" with { 'bg_color': scripts.claims.bg_color } %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.faq.heading, 'bg':scripts.faq.bg, 'sub':scripts.faq.subtext, 'bg_color': scripts.claims.bg_color, "mobile_scale": scripts.faq.mobile_scale } %}
        <div class="container-padded">
          {% include "_faq.html" %}
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
