{% extends "base.twig.html" %}

{% block content %}
    {% include partial ? "twig/_modal.html" : "_modal.html" %}
    {% include partial ? "twig/_header.html" : "_header.html" %}

    <main>
        {# the with { 'msg': array } will show scripts.yml when you visit example.dev/app.php/index (homepage) #}
        {% include partial ? "twig/_featured-hero.html" : "_featured-hero.html" with { 'msg': scripts.home.test } %}
        <div class="container-padded">
            {% include partial ? "twig/_columns-3.html" : "_columns-3.html" %}
            {% include partial ? "twig/_compare.html" : "_compare.html" %}
            {% include partial ? "twig/_featured-hero-left.html" : "_featured-hero-left.html" %}
            {% include partial ? "twig/_featured-hero-right.html" : "_featured-hero-right.html" %}
            {% include partial ? "twig/_featured-hero-center.html" : "_featured-hero-center.html" %}
        </div>
    </main>

    {% include partial ? "twig/_footer.html" : "_footer.html" %}
{% endblock %}
