{% extends "base.twig.html" %}

{% block content %}
    {% include "_modal.html" %}
    {% include "_header.html" %}

    <main>
        {% include partial ? "twig/_featured-hero-main-center.html" : "_featured-hero-main-center.html" with { 'msg': scripts.protection_plans.heading, 'bg':scripts.protection_plans.bg, 'sub':scripts.protection_plans.subtext, "text_flip": scripts.protection_plans.text_flip, "mobile_scale": scripts.protection_plans.mobile_scale } %}
        <div class='container-padded'>
            {% include "_columns-3.html" %}
            {% include "_plans-content-left.html" with { 'headline': scripts.protection_plans.subhead_1, 'bg_main':scripts.protection_plans.bg_main_1, 'scroll_hash':scripts.protection_plans.hash_1, 'plans_mdpp': scripts.protection_plans.plans_mdpp } %}
            {% include "_plans-content-right.html" with { 'headline': scripts.protection_plans.subhead_2, 'bg_img':scripts.protection_plans.bg_2, 'scroll_hash':scripts.protection_plans.hash_2  }%}
            {% include "_plans-content-left.html" with { 'headline': scripts.protection_plans.subhead_3, 'bg_img':scripts.protection_plans.bg_3, 'scroll_hash':scripts.protection_plans.hash_3  } %}
            {% include "_content.html" with { 'content_heading': scripts.protection_plans.content_headline, 'classes': scripts.protection_plans.classes } %}
            {% include "_compare-table.html" %}
            {% include "_buttons-1.html" with { 'button_text': scripts.protection_plans.button_1 } %}
        </div>
    </main>

    {% include "_footer.html" %}
{% endblock %}
