<div class="container-padded-less container-fluid text-center">
    <div>
        <a href="#?" class="btn btn-primary"> {{ button_text_primary }} </a>
    </div>
    <div>
        <span class="or">or</span>
    </div>
    <div class="claim-buttons">
        <a href="#?" class="btn btn-secondary"> {{ button_text_1 }} </a>
        <a href="#?" class="btn btn-secondary claim-button-center"> {{ button_text_2 }} </a>
        <a href="#?" class="btn btn-secondary"> {{ button_text_3 }} </a>
    </div>
</div>
