<div class="container-drop-shadow container-contact-buttons">
    <div class="container-fluid text-center">
        <h3>{{ button_headline }}</h3>
        <a href="#?" class="btn btn-primary">{{ button_text }}</a>
        <div>
            <span class="or">or</span>
        </div>
        <a href="#?" class="btn btn-secondary">{{ button_text_1 }}</a>
    </div>
</div>
