<section class="container-padded container-inner-shadow container-steps-bg">
    <div class="container-fluid">
        <div class="col-sm-6">
            <h3>The Claim Process</h3>
            <p>Nullam nibh purus. semper ac accumsan quis, porta id eros. Duis vehicula libero nunc. Aenean venenatis. Nulla tempus turpis gravida auctor viverra. Nullam nibh purus. semper ac accumsan quis, porta id eros. Duis vehicula libero nunc. Aenean venenatis.</p>
        </div>
        <div class="col-sm-6">
            <h3>What I&rsquo;ll need to file a claim</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            </ul>
        </div>
    </div>
</section>
