<section class="container-drop-shadow">
    <div class="container-fluid">
        <h2 class="text-center">Three ways to protect your devices.</h2>
        <div class="col-xs-4 bckt">
            <img src="../images/plan-multi-device.png">
            <h4>Multi-Device Protection Pack</h4>
            <a class="down-arrow scroll" href="#multi">More</a>
        </div>
        <div class="col-xs-4 bckt">
            <img src="../images/plan-device-protection.png">
            <h4>Mobile Protection Pack</h4>
            <a class="down-arrow scroll" href="#protection">More</a>
        </div>
        <div class="col-xs-4 bckt last">
            <img src="../images/plan-insurance.png">
            <h4>Mobile Insurance</h4>
            <a class="down-arrow scroll" href="#insurance">More</a>
        </div>
        <div class="col-xs-12 text-center">
            <a href='#?' class="bckt-link">Link Text Beneath</a>
        </div>
    </div>
</section>
