<div class="container-padded-less text-center">
  <img src="/images/question.svg" class="question" />
  <div class="deductible-callout">
    <h3>What&rsquo;s my deductible</h3>
    <p>Select your device to determine your deductible.</p>
  </div>
  <div class="phone-drop clearfix" id="phone-drop"></div>
  <a href="#?">Is my device eligible?</a>
</div>
