<div class="container-fluid">
    <div class="col-sm-3 sidenav-wrap">
        <ul id="top" class="sidenav nav">
            <li><a href="#device-protection">Overview</a></li>
            <li><a href="#tep-app">Using the App</a></li>
            <li><a href="#tech-experts">Troubleshooting</a></li>
        </ul>
    </div>
    <div class="col-sm-9 faq-content">
        <h2>Overview</h2>
        <ul class="subnav">
            <li><a href="#how">How do I get the app?</a></li>
            <li><a href="#when">When can I enroll?</a></li>
            <li><a href="#who">Who do I contact to receive a replacement device?</a></li>
            <li><a href="#how-long">How long do I have to report a claim?</a></li>
            <li><a href="#deductible">Is there a deductible charge or additional fee?</a></li>
        </ul>

        <h3>How do I get the App?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim iaculis dictum. Donec tincidunt vitae eros id dignissim. Etiam interdum dignissim magna, non fringilla odio posuere sed. Nulla facilisi. Aliquam erat volutpat. Aenean commodo semper tortor, a tempus metus. Suspendisse tempor rutrum imperdiet. Nunc pretium, lorem volutpat luctus adipiscing, quam tellus aliquet diam, id feugiat mauris sapien at lectus. Curabitur et justo vel tellus pulvinar congue. Proin in porttitor ipsum.</p>

        <h3>How do I get the App?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim iaculis dictum. Donec tincidunt vitae eros id dignissim. Etiam interdum dignissim magna, non fringilla odio posuere sed. Nulla facilisi. Aliquam erat volutpat. Aenean commodo semper tortor, a tempus metus. Suspendisse tempor rutrum imperdiet. Nunc pretium, lorem volutpat luctus adipiscing, quam tellus aliquet diam, id feugiat mauris sapien at lectus. Curabitur et justo vel tellus pulvinar congue. Proin in porttitor ipsum.</p>

        <h3>How do I get the App?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim iaculis dictum. Donec tincidunt vitae eros id dignissim. Etiam interdum dignissim magna, non fringilla odio posuere sed. Nulla facilisi. Aliquam erat volutpat. Aenean commodo semper tortor, a tempus metus. Suspendisse tempor rutrum imperdiet. Nunc pretium, lorem volutpat luctus adipiscing, quam tellus aliquet diam, id feugiat mauris sapien at lectus. Curabitur et justo vel tellus pulvinar congue. Proin in porttitor ipsum.</p>

        <h3>How do I get the App?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim iaculis dictum. Donec tincidunt vitae eros id dignissim. Etiam interdum dignissim magna, non fringilla odio posuere sed. Nulla facilisi. Aliquam erat volutpat. Aenean commodo semper tortor, a tempus metus. Suspendisse tempor rutrum imperdiet. Nunc pretium, lorem volutpat luctus adipiscing, quam tellus aliquet diam, id feugiat mauris sapien at lectus. Curabitur et justo vel tellus pulvinar congue. Proin in porttitor ipsum.</p>

        <h3>How do I get the App?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim iaculis dictum. Donec tincidunt vitae eros id dignissim. Etiam interdum dignissim magna, non fringilla odio posuere sed. Nulla facilisi. Aliquam erat volutpat. Aenean commodo semper tortor, a tempus metus. Suspendisse tempor rutrum imperdiet. Nunc pretium, lorem volutpat luctus adipiscing, quam tellus aliquet diam, id feugiat mauris sapien at lectus. Curabitur et justo vel tellus pulvinar congue. Proin in porttitor ipsum.</p>
    </div>
</div>
