<section class="hero-interior main-hero-center animated fadeIn {{ bg_color }} {{ text_flip }} {{ mobile_scale }}" style="background-image: url(../images/{{ bg }});">
    <div class="container-fluid interior-callout animated fadeInDown">
        <div class="text-center {{ text_flip }}">
            <h2 class="subhead">{{ sub }}</h2>
            <h1>{{ msg }}</h1>
            <h2 class="subhead secondary">{{ secondary_sub }}</h2>
        </div>
    </div>
</section>

