<section class="container-hero-content container-hero-left" style="background: url(../images/hero-left.jpg) top center no-repeat;">
    <div class="container-fluid">
        <div class="col-sm-6 col-xs-9 col-flush-left">             
            <h2 id="protection">Multi-Device Protection Pack</h2> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus. semper ac accumsan quis, porta id eros. Duis vehicula libero nunc. Aenean venenatis.</p>
            <div class="portalbutton buttons">
                <a class="btn btn-primary" target="_parent" href="#?">Get Protected</a>
                <span class="or">or</span>
                <a class="btn btn-secondary" target="_parent" href="#?">Learn More</a>
            </div>
        </div>
    </div>
</section>
