<section class="main-hero animated fadeIn" style="background-image: url(../images/main-hero-home.jpg); background-repeat: no-repeat;">
    <div class="container-fluid animated fadeInDown">
        <div class="main-call col-sm-7 hero-home-content">
            <h1>AT&amp;T Device Protection Center</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus. semper ac accumsan quis, porta id eros.</p>
            <div class="buttons">
              <a href="#?" class="btn btn-primary">Enhanced Support</a>
              <a href="#?" class="btn btn-primary">File Claim</a>
              <a href="#?" class="btn btn-primary">Protection App</a>
            </div>
        </div>
    </div>
    <img class="animated fadeInDown hero-arrow" src="/images/main-hero-arrow.png" />
</section>

