<section class="container-hero-content container-hero-center" style="background-image: url(../images/hero-center.jpg);">
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-3 col-xs-9"> 
            <h2 id="insurance">Mobile Insurance</h2>
            <p>Praesent vehicula ante ac vestibulum laoreet. Sed tortor diam, bibendum at augue in, tempor tincidunt nisl. Mauris sit amet nulla felis. Nulla sit amet odio ut velit elementum blandit.</p>
            <div class="portalbutton buttons">
                <a class="btn btn-primary" target="_parent" href="#?">Get Support</a>
                <span class="or">or</span>
                <a class="btn btn-secondary" target="_parent" href="#?">Learn More</a>
            </div>
        </div>
    </div>
</section>
