<section class="container-hero-content container-inner-shadow container-offset-bg container-hero-right" style="background-image: url(/images/hero-right.png);">
    <div class="container-fluid">
        <div class="col-sm-offset-6 col-sm-6 col-xs-9 col-xs-offset-3">
            <h2 id="multi">Mobile Protection Pack</h2>
            <p>Praesent vehicula ante ac vestibulum laoreet. Sed tortor diam, bibendum at augue in, tempor tincidunt nisl. Mauris sit amet nulla felis. Nulla sit amet odio ut velit elementum blandit.</p>
            <div class="portalbutton buttons">
                <a class="btn btn-primary" target="_parent" href="#?">Get the App</a>
                <span class="or">or</span>
                <a class="btn btn-secondary" target="_parent" href="#?">Learn More</a>
            </div>
        </div>
    </div>
</section>
