<section class="hero-interior main-hero-center animated fadeIn {{ protection_heading }}" style="background: url(../images/{{ bg }}) top center;">
    <div class="container-fluid interior-callout animated fadeInDown">
        <div class="col-sm-5">
                <div class="phone-bg animated fadeIn">
                    <div class="slider animated fadeIn">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="/images/stolen.png" />
                                </li>
                                <li>
                                    <img src="/images/backup.png" />
                                </li>
                                <li>
                                    <img src="/images/locate.png" />
                                </li>
                                <li>
                                    <img src="/images/home.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <div class='col-sm-7 protection-app'>
            <h2 class="subhead">{{ sub }}</h2>
            <h1>{{ msg }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus.</p>
        </div>
    </div>
</section>
