<footer role="contentinfo">
    <div class="container-fluid">
        <div class="footer-inner">
            <div class="col-sm-2 col-flush-left logo-wrap">
                <a href="http://www.asurion.com" class="icon asurion">
                &#xe018;
                </a>
            </div>
            <div class="col-sm-8 text-center">
                <ul class="footer-nav">
                    <li><a href="/" class="terms">Terms &amp; Conditions</a></li>
                    <li><a <a data-toggle="modal" data-header="Privacy Policy" data-toggle="modal" data-target="#login">Privacy Policy</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-flush-right">
                <ul class="social-icons">
                    <li><a href="/" target="_blank"><img class="magic" src="../images/facebook.svg" alt="facebook logo" /></a></li>
                    <li><a class="magic" href="/" target="_blank"><img src="../images/twitter.svg" alt="twitter logo" /></a></li>
                    <li><a href="/" target="_blank"><img class="magic" src="../images/google.svg" alt="google logo" /></a></li>
                </ul>
            </div>
            <p class="copyright">&copy; 2014 AT&ampT All rights reserved.</p>
        </div>
    </div>
</footer>
<!--End FOOTER-->

        <div id="modal-ajax-container" class="modal hide fade">
            <div class="modal-header"><a class="close" data-dismiss="modal" >×</a></div>
            <div class="modal-body"></div>
            <div class="modal-footer"><a href="#" class="btn" data-dismiss="modal" >Close</a></div>
        </div>
