<header class="animated fadeIn {{ bg_color }}" role="banner">
    <div class="container-fluid">
        <div class="header-inner">
            <a href="index" class="logo pull-left logo-push"><img src="../images/att.svg" /></a>
            <a href="#" class="nav-open" id="trigger-overlay">
                <span class="icon">&#xe601;</span>
            </a>
            <div class="nav-wrap overlay">
                <a href="index" class="icon overlay-trigger overlay-trigger-home">&#xe602;</a>
                <a class="overlay-trigger overlay-trigger-close">X</a>
            <nav role="navigation" class="animated fadeIn">
                <ul>
                    <li><a class="color-test" href="protection-plans">Protection <span>Plans</span></a></li>
                    <li><a href="enroll-upgrade">Enroll <span>&amp; Upgrade</span></a></li>
                    <li><a href="enhanced-support">Enhanced <span>Support</span></a></li>
                    <li><a href="claims">Claims</a></li>
                    <li><a href="att-protection-app">AT&amp;T <span>Protection App</span></a></li>
                    <li class="last login-desktop"><a href="#?" class="btn btn-primary">Login</a></li>
                    <li class="last login-mobile"><a href="#?" class="btn btn-secondary">Login</a></li>
                </ul>
            </nav>
          </div>
        </div>
    </div>
</header>
