<div id="login" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close icon" data-dismiss="modal" aria-hidden="true">X</button>
        <h2>Protection Terms</h2>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a purus eros. Nunc sodales imperdiet nisi ultricies tincidunt. Morbi ultrices varius tincidunt. Quisque consectetur diam vitae cursus fermentum. Integer mattis libero lectus, pharetra tincidunt felis blandit eu. Quisque sed volutpat nisi, malesuada dictum nisl. Cras odio sapien, rutrum eu urna a, consequat tristique dui. Donec id pulvinar dui. Fusce condimentum tincidunt odio, non pharetra mi laoreet eget. Curabitur blandit viverra ligula, eu semper ante rhoncus vitae. Nullam rutrum purus eu libero tristique auctor. Donec gravida risus et turpis dictum bibendum. Sed interdum et turpis ut egestas. Ut quis leo vitae nisl vestibulum egestas a eget arcu.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a purus eros. Nunc sodales imperdiet nisi ultricies tincidunt. Morbi ultrices varius tincidunt. Quisque consectetur diam vitae cursus fermentum. Integer mattis libero lectus, pharetra tincidunt felis blandit eu. Quisque sed volutpat nisi, malesuada dictum nisl. Cras odio sapien, rutrum eu urna a, consequat tristique dui. Donec id pulvinar dui. Fusce condimentum tincidunt odio, non pharetra mi laoreet eget. Curabitur blandit viverra ligula, eu semper ante rhoncus vitae. Nullam rutrum purus eu libero tristique auctor. Donec gravida risus et turpis dictum bibendum. Sed interdum et turpis ut egestas. Ut quis leo vitae nisl vestibulum egestas a eget arcu.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a purus eros. Nunc sodales imperdiet nisi ultricies tincidunt. Morbi ultrices varius tincidunt. Quisque consectetur diam vitae cursus fermentum. Integer mattis libero lectus, pharetra tincidunt felis blandit eu. Quisque sed volutpat nisi, malesuada dictum nisl. Cras odio sapien, rutrum eu urna a, consequat tristique dui. Donec id pulvinar dui. Fusce condimentum tincidunt odio, non pharetra mi laoreet eget. Curabitur blandit viverra ligula, eu semper ante rhoncus vitae. Nullam rutrum purus eu libero tristique auctor. Donec gravida risus et turpis dictum bibendum. Sed interdum et turpis ut egestas. Ut quis leo vitae nisl vestibulum egestas a eget arcu.
        </p>
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a purus eros. Nunc sodales imperdiet nisi ultricies tincidunt. Morbi ultrices varius tincidunt. Quisque consectetur diam vitae cursus fermentum. Integer mattis libero lectus, pharetra tincidunt felis blandit eu. Quisque sed volutpat nisi, malesuada dictum nisl. Cras odio sapien, rutrum eu urna a, consequat tristique dui. Donec id pulvinar dui. Fusce condimentum tincidunt odio, non pharetra mi laoreet eget. Curabitur blandit viverra ligula, eu semper ante rhoncus vitae. Nullam rutrum purus eu libero tristique auctor. Donec gravida risus et turpis dictum bibendum. Sed interdum et turpis ut egestas. Ut quis leo vitae nisl vestibulum egestas a eget arcu.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary submit" aria-hidden="true" type="submit" data-dismiss="modal">Get Terms</button>
      </div>
    </div>
  </div>
</div>
