<section class="container-plans container-drop-shadow">
    <div class="container-fluid" style="background: url(/images/{{ bg_img }} ) 0% 50% no-repeat;">
        <div class="col-sm-8 col-sm-offset-4">
            <h2 id="{{ scroll_hash }}">{{ headline }}</h2>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus. Phasellus tincidunt vehicula congue. Phasellus tincidunt vehicula.
            </p>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus. Phasellus tincidunt vehicula congue. Phasellus tincidunt vehicula.
            </p>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum tincidunt erat at posuere. Phasellus tincidunt vehicula congue. Nullam nibh purus. Phasellus tincidunt vehicula congue. Phasellus tincidunt vehicula.
            </p>
            <a href="#?" class="btn btn-primary">Enroll</a>
        </div>
    </div>
</section>
