<section class="shipping" style="background-image:url('../images/map.svg'); background-position: 50%;">
    <div class="container">
    <h3>Shipping Schedule</h3>
        <table class="shipping-table text-centered col-sm-9 no-float">
          <thead>
            <th class="text-right">Claim Completed</th>
            <th class="text-left border-left">Delivery Day</th>
          </thead>
          <tr>
            <td class="text-right">
              <p class="bold">Monday - Friday</p>
              <p>Before 10:00pm CST</p>
            </td>
            <td class="text-left border-left">
              <p class="bold">Next Day</p>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <p class="bold">Friday</p>
              <p>Before 10:00pm CST</p>
            </td>
            <td class="text-left border-left">
              <p class="bold">Monday</p>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <p class="bold">Saturday</p>
              <p>Before 7:30pm CST</p>
            </td>
            <td class="text-left border-left">
              <p class="bold">Monday</p>
            </td>
          </tr>
          <tr class="last">
            <td class="text-right">
              <p class="bold">Sunday</p>
            </td>
            <td class="text-left border-left">
              <p class="bold">Tuesday</p>
            </td>
          </tr>
        </table>
    </div>
</section>
