<section class="container-fluid container-padded container-flush-bottom steps">
  <div class="col-sm-12">
    <h2 class="text-center">How to setup</h2>
    <div class="col-sm-4">
      <div class="download-step">
        <h5>Step<span>1</span></h5>
        <p><a href="sub-4.html#enroll">Sign up</a> and get protected. Enroll within 30 days of purchasing your new device.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="download-step">
        <h5>Step<span>2</span></h5>
        <p>If enrolled, select your device operating platform.</p>
        <div class="app-steps">
          <a href="https://play.google.com/store/search?q=sprint%20tep&amp;c=apps&amp;hl=en"><img src="/images/android-store.png"></a>
          <a href="https://itunes.apple.com/us/genre/ios"><img src="/images/app-store.png"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="download-step">
        <h5>Step<span>3</span></h5>
        <p>Download the Sprint Protect App and complete the account set-up.</p>
      </div>
    </div>
    <div class="col-sm-12">
      <p class="text-center">Already have the app? <a href="#?">Login Now</a></p>
    </div>
  </div>
</section>
