<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie lt-ie10"> <![endif]-->
<html>
	<head>
		<title>AT&amp;T MDPP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1; text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		<link rel="shortcut icon" href="/images/favicon.ico" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
        {% endblock %}

        {% block ie %}
            <!--[if lte IE 10]>
                <script src="/js/html5shiv.js"></script>	
                <script src="/js/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% if partial %}<style>body{background:#eee;}</style>{% endif %}
	</head>

	<body>
    {% block content %}{% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/min/bootstrap.min.js"></script>      
        <script type="text/javascript" src="http://phoneclaim.com/api/1.1/pcc_api.js"></script>
        <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
        <script src="/js/svgeezy.min.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script defer src="/js/jquery.flexslider.min.js"></script>
        <script src="/js/main.js"></script>
    {% endblock %}
    </body>
</html>
